*.rar
*.*.Zip
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.axf
*.hex
RTE/
Templates/
Examples/
*.PcbDoc.Zip
*.LOG


!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
